In [8]:
import geopandas as gpd
from google.cloud import bigquery
from shapely.geometry import Point

In [3]:
gdf = gpd.read_file("data/SignFaces_WGS.shp")

C:\Users\seanberry\AppData\Local\anaconda3\envs\sign_conditions\lib\site-packages\pyogrio\raw.py:198: UserWarning: Measured (M) geometry types are not supported. Original type 'Measured 3D Point' is converted to 'Point Z'
  return ogr_read(

In [4]:
gdf.head()

,REGION,TRAVEL_DIR,ROUTE,UDOT_BMP,UDOT_EMP,BEG_LAT,BEG_LONG,BEG_ELEV,COMMENTS,LEGEND,...,PREV_ID,ELEMENT_ID,ASSMBLY_ID,OFFEROR_ID,HT_ABV_RD,OFFSET,MUTCD_DESC,SF_HT_IN,SF_WT_IN,geometry
0,Region 2,+,0085,7.233,7.233,40.506247,-112.003721,4710.48,None,None,...,-MqItlZXH8mMT5oD6mcmSF,410,30_98844,0_330100,8,5,WRONG WAY,24,36,POINT Z (-12468198.472 4939784.625 1435.754)
1,Region 2,+,0085,7.332,7.332,40.507668,-112.003670,4717.03,None,None,...,-LuYHOhAHXHV5dTE9FOowV,410,30_98849,0_330107,12,12,SCHOOL,42,42,POINT Z (-12468192.839 4939992.689 1437.751)
2,Region 2,+,0085,7.202,7.202,40.505765,-112.003707,4712.13,None,None,...,-LuYFm1qI5erLUQhWpoYOk,410,30_98843,0_330099,12,6,SCHOOL,48,48,POINT Z (-12468196.958 4939713.998 1436.257)
3,Region 2,+,0085,7.294,7.294,40.506933,-112.003963,4714.20,None,DO NOT ENTER,...,None,410,30_98847,0_900000,None,13,DO NOT ENTER,30,30,POINT Z (-12468225.377 4939885.106 1436.888)
4,Region 2,+,0085,7.332,7.332,40.507619,-112.003690,4717.18,None,None,...,-JLz-sHRFUaMG8ngl-HMKV,410,30_98848,0_330110,13,6,ONE WAY,18,54,POINT Z (-12468195.021 4939985.485 1437.796)

In [5]:
gdf.columns

Index(['REGION', 'TRAVEL_DIR', 'ROUTE', 'UDOT_BMP', 'UDOT_EMP', 'BEG_LAT',
       'BEG_LONG', 'BEG_ELEV', 'COMMENTS', 'LEGEND', 'COLL_DATE', 'MUTCD',
       'BCKING_TYP', 'CONDITION', 'FACING_DIR', 'MOUNT_TYPE', 'SPRT_MTRL',
       'UTPOSITION', 'PREV_ID', 'ELEMENT_ID', 'ASSMBLY_ID', 'OFFEROR_ID',
       'HT_ABV_RD', 'OFFSET', 'MUTCD_DESC', 'SF_HT_IN', 'SF_WT_IN',
       'geometry'],
      dtype='object')

In [9]:
# Create a new GeoSeries to store the 2D points
points_2d = []

# Iterate over the geometries in the GeoDataFrame
for geom in gdf.geometry:
    # Check if the geometry is a Point
    if geom.geom_type == 'Point':
        # Extract x and y coordinates, ignoring z
        x, y, *_ = geom.coords[0]
        # Create a new 2D point
        point_2d = Point(x, y)
        points_2d.append(point_2d)
    else:
        # Handle cases where the geometry is not a point, if necessary
        points_2d.append(None)

In [11]:
gdf['geometry'] = points_2d

In [12]:
gdf.crs

<Projected CRS: EPSG:3857>
Name: WGS 84 / Pseudo-Mercator
Axis Info [cartesian]:
- X[east]: Easting (metre)
- Y[north]: Northing (metre)
Area of Use:
- name: World between 85.06Â°S and 85.06Â°N.
- bounds: (-180.0, -85.06, 180.0, 85.06)
Coordinate Operation:
- name: Popular Visualisation Pseudo-Mercator
- method: Popular Visualisation Pseudo Mercator
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [16]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 145202 entries, 0 to 145201
Data columns (total 28 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   REGION      145202 non-null  object
 1   TRAVEL_DIR  145202 non-null  object
 2   ROUTE       145202 non-null  object
 3   UDOT_BMP    145202 non-null  float64
 4   UDOT_EMP    145202 non-null  float64
 5   BEG_LAT     145202 non-null  float64
 6   BEG_LONG    145202 non-null  float64
 7   BEG_ELEV    145202 non-null  float64
 8   COMMENTS    9934 non-null    object
 9   LEGEND      87811 non-null   object
 10  COLL_DATE   145202 non-null  datetime64[ms]
 11  MUTCD       145202 non-null  object
 12  BCKING_TYP  145202 non-null  object
 13  CONDITION   145202 non-null  object
 14  FACING_DIR  145202 non-null  object
 15  MOUNT_TYPE  145202 non-null  object
 16  SPRT_MTRL   145202 non-null  object
 17  UTPOSITION  145202 non-null  object
 18  PREV_ID     117227 non-null  object
 19  ELEMENT_ID  145202 non-null  object
 20  ASSMBLY_ID  145202 non-null  object
 21  OFFEROR_ID  145202 non-null  object
 22  HT_ABV_RD   144655 non-null  object
 23  OFFSET      144937 non-null  object
 24  MUTCD_DESC  144886 non-null  object
 25  SF_HT_IN    145004 non-null  object
 26  SF_WT_IN    144991 non-null  object
 27  geometry    145202 non-null  geometry
dtypes: datetime64[ms](1), float64(5), geometry(1), object(21)
memory usage: 31.0+ MB

In [28]:
gdf.drop(["geometry"], axis = 1, inplace = True)

In [25]:
gdf.head()

,REGION,TRAVEL_DIR,ROUTE,UDOT_BMP,UDOT_EMP,BEG_LAT,BEG_LONG,BEG_ELEV,COMMENTS,LEGEND,...,PREV_ID,ELEMENT_ID,ASSMBLY_ID,OFFEROR_ID,HT_ABV_RD,OFFSET,MUTCD_DESC,SF_HT_IN,SF_WT_IN,geometry
0,Region 2,+,0085,7.233,7.233,40.506247,-112.003721,4710.48,None,None,...,-MqItlZXH8mMT5oD6mcmSF,410,30_98844,0_330100,8,5,WRONG WAY,24,36,POINT (-12468198.472 4939784.625)
1,Region 2,+,0085,7.332,7.332,40.507668,-112.003670,4717.03,None,None,...,-LuYHOhAHXHV5dTE9FOowV,410,30_98849,0_330107,12,12,SCHOOL,42,42,POINT (-12468192.839 4939992.689)
2,Region 2,+,0085,7.202,7.202,40.505765,-112.003707,4712.13,None,None,...,-LuYFm1qI5erLUQhWpoYOk,410,30_98843,0_330099,12,6,SCHOOL,48,48,POINT (-12468196.958 4939713.998)
3,Region 2,+,0085,7.294,7.294,40.506933,-112.003963,4714.20,None,DO NOT ENTER,...,None,410,30_98847,0_900000,None,13,DO NOT ENTER,30,30,POINT (-12468225.377 4939885.106)
4,Region 2,+,0085,7.332,7.332,40.507619,-112.003690,4717.18,None,None,...,-JLz-sHRFUaMG8ngl-HMKV,410,30_98848,0_330110,13,6,ONE WAY,18,54,POINT (-12468195.021 4939985.485)

In [30]:
gdf_trasnformed = gpd.GeoDataFrame(gdf, geometry = gpd.points_from_xy(gdf.BEG_LONG, gdf.BEG_LAT))

In [32]:
gdf_trasnformed.head()

,REGION,TRAVEL_DIR,ROUTE,UDOT_BMP,UDOT_EMP,BEG_LAT,BEG_LONG,BEG_ELEV,COMMENTS,LEGEND,...,PREV_ID,ELEMENT_ID,ASSMBLY_ID,OFFEROR_ID,HT_ABV_RD,OFFSET,MUTCD_DESC,SF_HT_IN,SF_WT_IN,geometry
0,Region 2,+,0085,7.233,7.233,40.506247,-112.003721,4710.48,None,None,...,-MqItlZXH8mMT5oD6mcmSF,410,30_98844,0_330100,8,5,WRONG WAY,24,36,POINT (-112.00372 40.50625)
1,Region 2,+,0085,7.332,7.332,40.507668,-112.003670,4717.03,None,None,...,-LuYHOhAHXHV5dTE9FOowV,410,30_98849,0_330107,12,12,SCHOOL,42,42,POINT (-112.00367 40.50767)
2,Region 2,+,0085,7.202,7.202,40.505765,-112.003707,4712.13,None,None,...,-LuYFm1qI5erLUQhWpoYOk,410,30_98843,0_330099,12,6,SCHOOL,48,48,POINT (-112.00371 40.50576)
3,Region 2,+,0085,7.294,7.294,40.506933,-112.003963,4714.20,None,DO NOT ENTER,...,None,410,30_98847,0_900000,None,13,DO NOT ENTER,30,30,POINT (-112.00396 40.50693)
4,Region 2,+,0085,7.332,7.332,40.507619,-112.003690,4717.18,None,None,...,-JLz-sHRFUaMG8ngl-HMKV,410,30_98848,0_330110,13,6,ONE WAY,18,54,POINT (-112.00369 40.50762)

In [37]:
gdf_signfaces = gpd.read_file("SignFaces.csv")

In [40]:
gdf_signfaces.columns

Index(['FID', 'REGION', 'TRAVEL_DIR', 'ROUTE', 'UDOT_BMP', 'UDOT_EMP',
       'BEG_LAT', 'BEG_LONG', 'BEG_ELEV', 'COMMENTS', 'LEGEND', 'COLL_DATE',
       'MUTCD', 'BCKING_TYP', 'CONDITION', 'FACING_DIR', 'MOUNT_TYPE',
       'SPRT_MTRL', 'UTPOSITION', 'PREV_ID', 'ELEMENT_ID', 'ASSMBLY_ID',
       'OFFEROR_ID', 'HT_ABV_RD', 'OFFSET', 'MUTCD_DESC', 'SF_HT_IN',
       'SF_WT_IN'],
      dtype='object')

In [39]:
gdf_signfaces.head()

,FID,REGION,TRAVEL_DIR,ROUTE,UDOT_BMP,UDOT_EMP,BEG_LAT,BEG_LONG,BEG_ELEV,COMMENTS,...,UTPOSITION,PREV_ID,ELEMENT_ID,ASSMBLY_ID,OFFEROR_ID,HT_ABV_RD,OFFSET,MUTCD_DESC,SF_HT_IN,SF_WT_IN
0,0,Region 2,+,0085,7.233,7.233,40.506247,-112.0037208,4710.48,,...,RIGHT,-MqItlZXH8mMT5oD6mcmSF,410,30_98844,0_330100,8,5,WRONG WAY,24,36
1,1,Region 2,+,0085,7.332,7.332,40.5076681,-112.0036702,4717.03,,...,RIGHT,-LuYHOhAHXHV5dTE9FOowV,410,30_98849,0_330107,12,12,SCHOOL,42,42
2,2,Region 2,+,0085,7.202,7.202,40.5057646,-112.0037072,4712.13,,...,RIGHT,-LuYFm1qI5erLUQhWpoYOk,410,30_98843,0_330099,12,6,SCHOOL,48,48
3,3,Region 2,+,0085,7.294,7.294,40.5069333,-112.0039625,4714.2,,...,MEDIAN,,410,30_98847,0_900000,,13,DO NOT ENTER,30,30
4,4,Region 2,+,0085,7.332,7.332,40.5076189,-112.0036898,4717.18,,...,RIGHT,-JLz-sHRFUaMG8ngl-HMKV,410,30_98848,0_330110,13,6,ONE WAY,18,54

In [33]:
gdf_trasnformed.to_csv("sign_location_data.csv", index = False)

In [34]:
from google.cloud import storage

# Create a storage client
storage_client = storage.Client()

# Specify the bucket and file names
bucket_name = 'udot-pathways-data'
blob_name = 'sign_location_data.csv'

# Upload the file
bucket = storage_client.get_bucket(bucket_name)
blob = bucket.blob(blob_name)
blob.upload_from_filename('sign_location_data.csv')

C:\Users\seanberry\AppData\Local\anaconda3\envs\sign_conditions\lib\site-packages\google\auth\_default.py:76: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [35]:
# Construct a BigQuery client object.
client = bigquery.Client()

# TODO(developer): Set table_id to the ID of the table to create.
table_id = "ut-udot-toc-da-etl-dev.pathways.sign_locations"

job_config = bigquery.LoadJobConfig(
    schema=[
        bigquery.SchemaField("REGION", "STRING"),
        bigquery.SchemaField("TRAVEL_DIR", "STRING"),
        bigquery.SchemaField("ROUTE", "STRING"),
        bigquery.SchemaField("UDOT_BMP", "NUMERIC"),
        bigquery.SchemaField("UDOT_EMP", "NUMERIC"),
        bigquery.SchemaField("BEG_LAT", "NUMERIC"),
        bigquery.SchemaField("BEG_LONG", "NUMERIC"),
        bigquery.SchemaField("BEG_ELEV", "NUMERIC"),
        bigquery.SchemaField("COMMENTS", "STRING"),
        bigquery.SchemaField("LEGEND", "STRING"),
        bigquery.SchemaField("COLL_DATE", "STRING"),
        bigquery.SchemaField("MUTCD", "STRING"),
        bigquery.SchemaField("BCKING_TYP", "STRING"),
        bigquery.SchemaField("CONDITION", "STRING"),
        bigquery.SchemaField("FACING_DIR", "STRING"),
        bigquery.SchemaField("MOUNT_TYPE", "STRING"),
        bigquery.SchemaField("SPRT_MTRL", "STRING"),
        bigquery.SchemaField("UTPOSITION", "STRING"),
        bigquery.SchemaField("PREV_ID", "STRING"),
        bigquery.SchemaField("ELEMENT_ID", "STRING"),
        bigquery.SchemaField("ASSMBLY_ID", "STRING"),
        bigquery.SchemaField("OFFEROR_ID", "STRING"),
        bigquery.SchemaField("HT_ABV_RD", "STRING"),
        bigquery.SchemaField("OFFSET", "STRING"),
        bigquery.SchemaField("MUTCD_DESC", "STRING"),
        bigquery.SchemaField("SF_HT_IN", "STRING"),
        bigquery.SchemaField("SF_WT_IN", "STRING"),
        bigquery.SchemaField("geometry", "GEOGRAPHY"),
    ],
    skip_leading_rows=1,
    # The source format defaults to CSV, so the line below is optional.
    source_format=bigquery.SourceFormat.CSV,
    write_disposition = "WRITE_TRUNCATE",
    
)
uri = "https://storage.cloud.google.com/udot-pathways-data/sign_location_data.csv"

load_job = client.load_table_from_uri(
    uri, table_id, job_config=job_config
)  # Make an API request.

load_job.result()  # Wait for the job to complete.

destination_table = client.get_table(table_id)  # Make an API request.
print("Loaded {} rows.".format(destination_table.num_rows))

Loaded 145202 rows.